.stocks_actions{
  width: 100%;
  display: flex;
  justify-content: center;
}

.field-stock-left{ 
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 45px;
  width: 280px;
  background-color: #2E457C;
  border: none;
  border-radius: 50px;
  margin-right: 25px;
}

.field-stock-text{
  list-style: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
}

.field-stock-right{
  height: 45px;
  width: 280px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: #2E457C;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  margin-left: 25px;
}