<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="header">
  <div class="heading">
    <h1 class="logo"><%= link_to 'APP FIRST', root_path %></h1>
  </div>
  <div class="navbar">
    <ul class="nav-lists">
      <li class="nav-lists__list"><a href="service.html">SERVICE</a></li>
      <li class="nav-lists__list"><a href="news.html">NEWS</a></li>
      <li class="nav-lists__list"><a href="contact.html">CONTACT</a></li>
    </ul>
  </div>
</header>