<%= render "shared/header" %>

<div class="top_main">
  <div class="top_main_top">
    <%= image_tag "top_image.jpg", alt: "サンプル画像", class: "top_image_class" %>
    <div class="top_text_main">
      <div class="top_text_top">Sync</div>
      <div class="top_text_bottom">配送の依頼から対応まで、すべてがスムーズに。</div>
    </div>
  </div>

  <div class="top_main_bottom">
    <div class="top_ex">
      <div class="top_ex_text">
        <div class="top_ex_main">一元管理で効率アップ！本社・支社間の配送をスマートに。</div>
        <div class="top_ex_sub">Syncは、本社と支社間の配送依頼を効率的に管理します。<br>在庫不足の防止、依頼方法の統一、記入漏れの防止をサポートし、<br>業務をスムーズに進めるお手伝いをします。</div>
      </div>
    </div>

    <div class="top_features">
      <div class="top_f_right_contents">
        <div class="top_f_right_content">
          <div class="top_f_right_content_number">01</div>
          <div class="top_f_right_content_main">簡単な配送依頼作成</div>
          <div class="top_f_right_content_sub">数クリックで配送依頼を作成し、必要な情報を正確に入力できます。</div>
        </div>
          
        <div class="top_f_right_content">
          <div class="top_f_right_content_number">02</div>
          <div class="top_f_right_content_main">リアルタイムのステータス更新</div>
          <div class="top_f_right_content_sub">各依頼の進行状況をリアルタイムで確認し、<br>対応中、対応完了のステータスを簡単に更新できます。</div>
        </div>

        <div class="top_f_right_content">
          <div class="top_f_right_content_number">03</div>
          <div class="top_f_right_content_main">簡単・見やすい在庫管理</div>
          <div class="top_f_right_content_sub">現在の在庫状況を一目で把握できます。</div>
        </div>

        <div class="top_f_right_content_last">
          <div class="top_f_right_content_number">04</div>
          <div class="top_f_right_content_main">コメント機能</div>
          <div class="top_f_right_content_sub_last">依頼ごとにコメントを追加でき、<br>チーム間でのコミュニケーションを強化します。</div>
        </div>

      </div>
      <div class="top_f_left_contents">
        <%= image_tag "features_image3.jpg", alt: "サンプル画像", class: "features_image_class" %>
      </div>
    </div>

  </div>
</div>

<%= render "shared/footer" %>