<%= render "shared/header" %>

<div class="top_main">
  <div class="top_main_top">
    <%= image_tag "top_image.jpg", alt: "サンプル画像", class: "top_image_class" %>
    <div class="top_text_main">
      <div class="top_text_top">ORI APP</div>
      <div class="top_text_bottom">配送の依頼から対応まで、すべてがスムーズに。</div>
    </div>
  </div>

  <div class="top_main_bottom">
    <div class="top_ex">
      <div class="top_ex_text">
        <div class="top_ex_main">一元管理で効率アップ！本社・支社間の配送をスマートに。</div>
        <div class="top_ex_sub">ORI APPは、本社と支社間の配送依頼を効率的に管理します。<br>在庫不足の防止、依頼方法の統一、記入漏れの防止をサポートし、<br>業務をスムーズに進めるお手伝いをします。</div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>